* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #242424;
  color: #F9F9F9;
}

.app {
  width: 650px;
  height: 100%;
  margin: 2rem auto;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin: 1rem;
}

h2 {
  font-size: 1.625rem;
  margin: 1.5rem 0;
}

.createTaskContainer, .filterContainer, .searchContainer, .taskListContainer {
  margin: 2rem 1rem;
}



